<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
  <title>Clojars Latest Updates</title>
  <link>https://clojars.org/</link>
  <description>Unofficially generated RSS feed for libraries recently registered on Clojars</description>
  <lastBuildDate>{{build-date}}</lastBuildDate>
  {{#items}}
  <item>
    <guid>{{guid}}</guid>
    <title>{{title}}</title>
    <link>{{link}}</link>
    <description>{{description}}</description>
    <pubDate>{{publish-date}}</pubDate>
  </item>
  {{/items}}
  </channel>
</rss>
